<!doctype html>
<html lang="en">
<head>
  <title>Dashboard</title>
  <link rel="stylesheet" href="/css/style.css">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet">
</head>
<body class="smoke-animation">
  <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Dashboard</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu" aria-controls="menu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="menu">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <% if (user) { %>
            <% const userdetails = user.username %>
            <% const walletId = user.wallet.id %>
            <li class="nav-item"><a class="nav-link" href="/update-profile">Edit Profile</a></li>
            <li class="nav-item"><a class="nav-link" href="/audit-trail/:<%= page %>">Audit Trail</a></li>
            <li class="nav-item"><a class="nav-link" href="/users">Users</a></li>
            <li class="nav-item"><a class="nav-link" href="/fundwallet">Fund Wallet</a></li>
            <li class="nav-item"><a class="nav-link" href="/chat">Chat</a></li>
            <li class="nav-item"><a class="nav-link" href="/logout/<%= user.username %>">Log out</a></li>
            <li class="nav-item"><a class="nav-link" href="/update-profile"><i class="fas fa-user fa-1x mr-1"></i> Hi, <%= user.username %></a> </li>
          <% } else { %>
            <li class="nav-item"><a class="nav-link" href="/">Login</a></li>
            <li class="nav-item"><a class="nav-link" href="/register">Register</a></li>
          <%
          } %>
        </ul>
    </div>
  </nav>
  
    <% const newbalance = user.wallet.balance; %>
    <span  style="float:right;color:grey; font-weight: bold; font-size: 15px; padding: 8px; margin: 0 auto;">Wallet ID:<%= user.wallet.id %></span>
    <span  style="color:black; font-weight: bold;font-size: 60px; padding: 20px; margin: 0 auto;"><%=user.wallet.currency.symbol%> <%= newbalance %> <%=user.wallet.currency.code%></span>
   
  <main>
        <form  action="/update-profile" method="post" style="margin-top: 100px;">
         
          <div class="form-floating mb-3">
            <input type="text" class="form-control form-control-sm uneditable" id="username" name="username" placeholder="Username" value="<%= user.username %>" readonly>
            <label for="username">Username </label>
          </div><br>
          
          <div class="form-floating mb-3">
            <input type="text" class="form-control form-control-sm uneditable" id="phonenumber" name="phonenumber" placeholder="Phonenumber" value="<%= user.phonenumber %>" readonly>
            <label for="phonenumber">Phone Number </label>
          </div><br>
        
          <div class="form-floating mb-3">
            <input type="email" class="form-control form-control-sm uneditable" id="email" name="email" placeholder="Email" value="<%= user.email %>" readonly>
            <label for="email">Enter Email </label>
          </div><br>

          <!-- <div class="form-floating mb-3">
            <input type="text" class="form-control form-control-sm uneditable" id="walletid" name="walletid" placeholder="Wallet id" value="<%= user.wallet.id %>" readonly>
            <label for="walletid">Wallet Id </label>
          </div><br> -->

          

          <input type="submit" class="form-control-sm btn-sm" value="Update" disabled>

        </form> 

  </main>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  
</body>
</html>
